<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>inline-block</title>
</head>
<style type="text/css">
	*{
		/* margin: 0; */
		/* padding: 0; */
	}
	.centaier{
		/* font-size: 0; */
		letter-spacing: -4px;
		width: 350px;
		/* font-size: 0; */
		border: 2px solid #dae;
		overflow: hidden;
	}
	.chlid{
		display: inline-block;
		/* float: left; */
		width: 100px;
		
	}
	.chd1{
		height: 100px;
		background-color: #dda;
	}
	.chd3{
		height: 100px;
		background-color: #bba;
	}
	.chd4{
		height: 100px;
		background-color: #eaa;
	}
	.chd2{
		height: 120px;
		background-color: #ada;
	}
</style>
<body>
	<h1>inline-block布局
	</h1>
	<div class="centaier">
		<div class="chlid chd1"></div>
		<div class="chlid chd2"></div>
		<div class="chlid chd3"></div>
		<div class="chlid chd4"></div>
	</div>

</body>
</html>