* {
  margin: 0;
  padding: 0;
}
.title {
  text-align: center;
  height: 100px;
  line-height: 100px;
}
.container {
  margin: 0 auto;
  width: 800px;
  box-shadow: 0 0 5px #ccc;
  overflow: hidden;
}
.box {
  margin: 0 auto;
  margin-top: 300px;
  width: 300px;
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  background-position: 85px 45px;
}
.lazy {
  width: 300px;
  height: 250px;
}
