* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: block;
  color:#000;
  &:link,&:visited{
    color:#000;
  }

}
ul,
ol,
li {
  list-style: none;
}
.clearfloat {
  zoom: 1;
}
.clearfloat:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
